<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAI5501-Ejercicio 3</title>


    <!--ATR: Aca referenciamos los CSS que necesitamos para darle estilo al HTML. -->
    <link rel="stylesheet" href="../../../../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/user.css">
</head>

<body>
    <!--ATR: con la clase de bootstrap nav-bar, generamos una barra de navegacion -->
    <nav class="navbar navbar-default" >
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">DAI5501-Ejer3 </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">


            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row product">
            <div class="col-md-5 col-md-offset-0"></div>
            <div class="col-md-7">
                <h2>Consumir API Amazon WS.</h2>
                <button class="btn btn-primary" type="button" onclick="HideGrid();">Ocultar </button>
                <button class="btn btn-primary" type="button" onclick="ShowGrid();">Mostrar </button>
            </div>
        </div>
        <div class="page-header">
            <h3>Grid (Tabla para Binding de Datos)</h3></div>
        <p>Esta grilla se 'bindeará' a partir del consumo de un API Rest dispuesto en otra locación (Backend). </p>
        <div class="table-responsive" style="display: none" id="gridApiRest">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Column 1</th>
                        <th>Column 2</th>
                        <th>Column 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                    </tr>
                    <tr>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                    </tr>
                    <tr>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                    </tr>
                    <tr>
                        <td>Cell</td>
                        <td>Cell</td>
                        <td>Cell</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page-header"></div>
        <div class="media">
            <div class="media-body"></div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-6"></div>
            </div>
        </div>

        <!--ATR: Acá tengo el HTML del moda, que se desplegará con el Inicio de Sesio. -->
        <!-- Modal -->

        <!-- Modal -->
        <div class="modal fade" id="modalLogin" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Gatillando Modal con Bootstrap</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="email-input" class="control-label sr-only">Usuario </label><br>
                            <input type="email" placeholder="Email" class="form-control" id="email-input" />

                            <label for="password-input" class="control-label sr-only">Password </label>
                            <input type="password" placeholder="Password" class="form-control" id="password-input" /><br>

                            <button class="btn btn-default" type="submit">Login</button>

                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </footer>

    <!--ATR: En el footer, referenciamos a ls librerias JS que se requieren-->
    <script src="../../../assets/js/jquery.min.js"></script>
    <script src="../../../../libs/bootstrap/dist/js/bootstrap.min.js"></script>

<!--ATR: Referenciamos ademas, a la libreria que corresponde para nuestro JS que encapsulara funciones. -->
        <script src="../controller/Funciones.js" type="text/javascript"></script>
    <script src="../controller/gridManager.js" type="text/javascript"></script>
</body>

</html>